body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /*background: linear-gradient(to bottom right, #ffcccb, #c1c1ff);*/
    background: url('Imagenes/fondosuave.jpg') center center fixed; /* Ruta de la imagen de fondo*/
    background-size: cover;
}

form {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente dentro del formulario */
    padding: 40px; /* Tamaño caja */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.circle-container {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    padding: 20px; /* Ajusta el espaciado según sea necesario */
    margin-bottom: 10px;
}

.avatar-container {
    position: relative;
}

.avatar {
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

input {
    width: 200px; /* Ajusta el ancho según sea necesario */
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #f57926;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #c74c1b;
}
