<script src="/Scripts/editElement.js"></script>

<form id="typeForm"  method="post" enctype="multipart/form-data" accept-charset="UTF-8">
    <div class="col-md-12 mt-5 mb-5">
        <h4>TIpo del Elemento</h4>
        <div class="card rounded">
            <div class="card-body">
                <div class="row">
                    <!-- Columna para los campos de entrada -->
                    <div class="col-md-6 mb-3">
                        <label for="campo1" class="form-label">Tipo del elemento</label>
                        <select name="type" class="form-select" id="campo4">
                            
                            <option value=></option>
                           
                        </select>
                        <input type="hidden" name="name" class="form-control"  value="">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>