 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> -->
 <!--SECCION ESTADISTICAS-->
 <aside id="stadisticSection">
    <div id="stadisticTitle">
        <h4> Mis Estadísticas </h4>
    </div>
    <div id="stadisticList" class="container">
        <div class="row">
            <canvas id="myChart" style="width:80%;max-width:400px"></canvas>
        </div>
    </div>
    <div id="stadisticList" class="container">
        <div class="row">
            <canvas id="myChart2" style="width:100%;max-width:400px"></canvas>
        </div>
    </div>
</aside>
