 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
 <!--SECCION ESTADISTICAS-->
 <aside id="stadisticSection">
    <div id="stadisticTitle">
        <h4> Mis Estadísticas </h4>
    </div>
    <div id="stadisticList" class="container">
        <div class="row">
            <!--div class="col-sm-2"-->
            <canvas id="myChart" style="width:100%;max-width:400px"></canvas>
            <script>
                const xValues = ["LIBROS", "PELICULAS", "SERIES"];
                const yValues = ["{{numBooks}}", "{{numFilms}}", "{{numSeries}}"];
                const barColors = ["red", "blue", "#5cd65c"];
                new Chart("myChart", {
                    type: "pie",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        title: {
                            display: false,
                            text: "Medios Guardados"
                        }
                    }
                });
            </script>
        </div>
    </div>
    <div>
        <h2>Cantidad de libros: {{numBooks}}</h2>
        <h2>Cantidad de peliculas: {{numFilms}}</h2>
        <h2>Cantidad de series: {{numSeries}}</h2>
    </div>
    <div class="col-sm-4" *ngFor="let genre of amountOfGenres">
        <h2>Cantidad de amountOfGenres[genre.key] = amountOfGenres[genre.value] </h2>
        <!-- <app-card [element]="top" [image]="topImages[top.name]"></app-card> -->
    </div>
