#tops
{
    float: left;
    width: 60%;
}
/* USER BANNER */
#bannerSection {
    height: 400px; /* Establece la altura deseada */
    width: 100%;
    position: relative;
    background-color: white; /* Opcional: si deseas un color de fondo */
    border: 5px solid #494F87; /* Cambiado para simplificar */
    box-sizing: border-box; /* Asegura que el borde se incluya en el cálculo de la altura y el ancho */
}

.ib {
    width: 100%;
    height: 100%; /* Cambiado para ocupar toda la altura del #bannerSection */
    display: block;
    object-fit: cover; /* Ajusta la imagen de fondo para cubrir todo el espacio disponible */
}

#bannerLogo {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border: 3px solid #494F87; /* Cambiado para simplificar */
    border-radius: 50%;
}



#bannerUsername{
    position: absolute;
    top: calc(50% + 75px); /* Coloca el #bannerUsername justo debajo del #bannerLogo */
    left: 50%;
    transform: translateX(-50%);
    background-color: #494F87;
    text-align: center;
    color: white;
    width: auto;
    padding: 10px;
    border-radius: 10%;
    font-weight: bold;
    font-size: 20px;
}