#topSection{
    width: fit-content;
    margin:30px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border:3px;
    border-color: #D4D8FF;
    border-style: solid;
}

#topTitle{
    background-color: #8357b1;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    border-radius: 5px;
    width: max-content;
    font-size: 30px;
}

#topTitleUser{
    background-color: #8357b1;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    border-radius: 5px;
    width: max-content;
    font-size: 30px;
}

#topTitleUser2{
    background-color: #e2b632;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    border-radius: 5px;
    width: max-content;
    font-size: 30px;
}

#topList{
    margin: 15px;
}

.col-sm-4 {
    width: 12rem;
    margin-top: 20px;
}

.btnAdd {
    margin: 20px;
    background-color:#d752dc;
    border-radius: 5px;
    width: fit-content;
    color: white;
  }

a {
    text-decoration: auto !important;
}
