body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('../Images/fondosuave.jpg') center center fixed;
    background-size: cover;
}

form {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 80px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 80%;
}

.circle-container {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    padding: 20px;
    margin-bottom: 20px;
}

.avatar-container {
    position: relative;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #f57926;
    color: #000000;
    font-size: medium;
    padding: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #c74c1b;
}

.links {
    margin-top: 10px;
}

.links a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}

