<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="/CSS/S-Main.css">
    <link rel="stylesheet" href="/CSS/S-Library.css">

    <title>Pagina Principal C&Read</title>
</head>

<body class="vh-100">

    <!-- NAVBAR -->
    {{> W-Header}}

    <!-- MAIN -->
    <main>

        <section id="library">
            <div class="row" id="libraryHead">
                <div class="col-md-6" id="libraryTitle">
                    <h4>Biblioteca de {{controllerRoute}}</h4>
                </div>
            </div>

            <div id="libraryList" class="container">
                <div class="row">
                    {{#elements}}
                        {{> W-Card}}
                    {{/elements}}
                    <br>
                    {{#hasPrev}}
                    <button id="load-prev-btn">Resultados anteriores</button>
                    {{/hasPrev}}
                    <br>
                    {{#hasNext}}
                        <button id="load-more-btn">Mas resultados</button>
                    {{/hasNext}}
                </div>    
            </div>
            
            <div id="spinner" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <script>
                var contRoute = "{{controllerRoute}}";
            </script>

            

        </section>

        <!-- NEWS ASIDE-->
        <aside id="filters">
            <div id="filtersTitle">
                <h3>Filtros</h3>
            </div>

            <form id="genreFilterForm">
                <div id="filterElement">
                    <div id="elementTitle">
                        <h4>Género:</h4>
                    </div>
                    <select class="form-select" aria-label="Añadir a lista:" name="genre">
                        <option selected>Género:</option>
                        <option value="ACCION">ACCION</option>
                        <option value="TERROR">TERROR</option>
                        <option value="AVENTURA">AVENTURA</option>
                        <option value="MISTERIO">MISTERIO</option>
                        <option value="ROMANCE">ROMANCE</option>
                        <option value="CIENCIAFICCION">CIENCIAFICCION</option>
                        <option value="DRAMA">DRAMA</option>
                        <option value="INFANTIL">INFANTIL</option>
                        <option value="COMEDIA">COMEDIA</option>
                        <option value="FANTASIA">FANTASIA</option>
                        <option value="SOBRENATURAL">SOBRENATURAL</option>
                        <option value="NOVELA">NOVELA</option>
                        <option value="JUVENIL">JUVENIL</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id="genreFilterBtn">Filtrar</button>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>

            <script>
                var filter = "";
            </script>

            <script src="/Scripts/pages.js" defer></script>

            <form id="seasonFilterForm">
                <div id="filterElement">
                    <div id="elementTitle">
                        <h4>Temporada:</h4>
                    </div>
                    <select class="form-select" aria-label="Añadir a lista:" name="season">
                        <option selected>Temporada:</option>
                        <option value="PRIMAVERA">Primavera</option>
                        <option value="VERANO">Verano</option>
                        <option value="OTOÑO">Otoño</option>
                        <option value="INVIERNO">Invierno</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id="seasonFilterBtn">Filtrar</button>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>

            <form id="countryFilterForm">
                <div id="filterElement">
                    <div id="elementTitle">
                        <h4>País:</h4>
                    </div>
                    <select class="form-select" aria-label="Añadir a lista:" name="country">
                        <option selected>País:</option>
                        <option value="ESTADOS_UNIDOS">Estados Unidos</option>
                        <option value="JAPON">Japón</option>
                        <option value="ESPAÑA">España</option>
                        <option value="COREA">Corea</option>
                        <option value="CHINA">China</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id="countryFilterBtn">Filtrar</button>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>

            <form id="stateFilterForm">
                <div id="filterElement">
                    <div id="elementTitle">
                        <h4>Estado:</h4>
                    </div>
                    <select class="form-select" aria-label="Añadir a lista:" name="state">
                        <option selected>Estado:</option>
                        <option value="COMPLETO">Completo</option>
                        <option value="EN_EMISION">En emisión</option>
                        <option value="POR_ESTRENARSE">Por estrenarse</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id="stateFilterBtn">Filtrar</button>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>

        </aside>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>