<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../CSS/S-LogIn.css">
</head>
<body>

    <form id="loginForm" method="post">
        <div class="circle-container">
            <div class="avatar-container">
                <img src="Images/Logo-URJC.png" alt="Avatar" class="avatar">
            </div>
        </div>
        <br>
        <input type="text" id="usuario" name="username" placeholder="Usuario" required>
        <br>
        <input type="password" id="contrasena" name="password" placeholder="Contraseña" required>
        <br>
        <input type="submit" value="Iniciar Sesión">
        <div class="links">
            <a href="/SignIn">Registrarse</a> | 
            <a href="/">Continuar sin iniciar sesión</a>
        </div>
        <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>

</body>
</html>
