<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
        <link rel="stylesheet" href="/CSS/S-Main.css">
        <link rel="stylesheet" href="/CSS/S-Card.css">

        <title>Pagina Principal C&Read</title>
    </head>

    <body class="vh-100">
        <!-- NAVBAR -->
        {{> W-Header}}

          <!-- MAIN -->
          <main>
            <!-- CAROUSEL-->
            <section id="carouselSection">
                <div id="carouselTitle">
                    <h4>Estrenos</h4>
                </div>
                <div id="carouselMain" class="carousel slide ">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner ">
                      <div class="carousel-item active">
                        <img src="/Images/Wallpaper-Anime.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/Images/Logo.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </section>

            <section id="tops">
                <!-- TOP FILM SECTION -->
                <article id="topSection">
                    <div id="topTitle">
                        <h4>Top Películas Semanales</h4>
                    </div>
                    <div id="topList" class="container">
                        <div class="row">

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/CardCover-MoviePoster.jpg" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/CardCover-MoviePoster.jpg" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/CardCover-MoviePoster.jpg" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/CardCover-MoviePoster.jpg" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark">
                                        <img src="/Images/CardCover-MoviePoster.jpg" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- TOP TV SHOW SECTION-->
                <article id="topSection">
                    <div id="topTitle">
                        <h4>Top Series Semanales</h4>
                    </div>
                    <div id="topList" class="container">
                        <div class="row">

                            <div class="col-sm-4">
                                <a href="/SingleElement" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/CardCover-OnePiece.jpg" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">One Piece</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/Img-UserProfile2.png" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/Img-UserProfile2.png" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/Img-UserProfile2.png" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark">
                                        <img src="/Images/Img-UserProfile2.png" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- TOP BOOK SECTION -->
                <article id="topSection">
                    <div id="topTitle">
                        <h4>Top Libros Semanales</h4>
                    </div>
                    <div id="topList" class="container">
                        <div class="row">

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/CardCover-Book.jpg" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/CardCover-Book.jpg" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/CardCover-Book.jpg" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark" >
                                        <img src="/Images/CardCover-Book.jpg" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-4">
                                <a href="#" class="card-link">
                                    <div class="card text-bg-dark">
                                        <img src="/Images/CardCover-Book.jpg" class="card-img-top" alt="...">
                                        <div class="card-img-overlay">
                                            <div id="cardContent" class="mt-auto position-absolute bottom-0 start-0 end-0 bg-black opacity-75 p-2">
                                                <h4 class="card-title ">Card title</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <!-- NEWS ASIDE-->
            <aside id="news">
                <div id="newsTitle">
                    <h3>Noticias</h3>
                </div>
                {{#news}}
                <div id="new">
                    <div id="newTitle">
                        <h4>{{title}}</h4>
                    </div>
                    <div id="newDescription">
                        <p>{{description}}</p>
                    </div>
                    <div id="newLink">
                        <a href="{{link}}">Seguir Leyendo</a>
                    </div>
                </div>
                {{/news}}
            </aside>
          </main>


          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>