<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="../CSS/S-Main.css">
    <link rel="stylesheet" href="../CSS/S-NavBar.css">
    <link rel="stylesheet" href="../CSS/S-Card.css">
    <link rel="stylesheet" href="../CSS/S-UserProfile.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <title> Pagina Usuario C&Reed </title>

</head>

<body>
    <!-- NAVBAR -->
    {{> W-Header}}

    <!-- PROFILE PAGE -->

    <!-- BANNER USER -->
    <section id="bannerSection">
        <img src="Images/Img-UserProfile.png" alt="Logo" width="50" height="50" id="bannerLogo">
        <div id="prueba">
            <p id="bannerUsername">{{user.name}}<a href="#exampleModal">
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                            src="Images/Icon-Edit.png" alt="HTML tutorial" style="width:30px;height:30px;"></button>
                </a></p>

            <!-- Modal -->
            <div class="modal" id="exampleModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>dasdasdasdas</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <!-- FAVORITOS USUARIO -->
    

        <!-- Libros -->
        <article id="topSection">
            <div id="topTitleUser">
                <h4> Mis libros: </h4>
            </div>
            <div id="topList" class="container">
                <div class="row">
                    {{#PersonalBooks}}
                        {{> W-Card}}
                    {{/PersonalBooks}}
                    <br>
                    {{#PersonalBookshasPrev}}
                        <a href="/Profile?page={{PersonalBooksprevPage}}">Prev Books</a>
                    {{/PersonalBookshasPrev}}
                    <br>
                    {{#PersonalBookshasNext}}
                        <a href="/Profile?page={{PersonalBooksnextPage}}">Next Books</a>
                    {{/PersonalBookshasNext}}
                </div> 
            </div>
        </article>
        <!-- Series -->
        <article id="topSection">
            <div id="topTitleUser">
                <h4> Mis series: </h4>
            </div>
            <div id="topList" class="container">
                <div class="row">
                    {{#PersonalSeries}}
                        {{> W-Card}}
                    {{/PersonalSeries}}
                    <br>
                    {{#PersonalSerieshasPrev}}
                        <a href="/Profile?page={{PersonalSeriesprevPage}}">Prev Series</a>
                    {{/PersonalSerieshasPrev}}
                    <br>
                    {{#PersonalSerieshasNext}}
                        <a href="/Profile?page={{PersonalSeriesnextPage}}">Next Series</a>
                    {{/PersonalSerieshasNext}}
                </div> 
            </div>
        </article>
        <!-- FILMS -->
        <article id="topSection">
            <div id="topTitleUser">
                <h4> Mis peliculas:</h4>
            </div>
            <div id="topList" class="container">
                <div class="row">
                    {{#PersonalFilms}}
                        {{> W-Card}}
                    {{/PersonalFilms}}
                    <br>
                    {{#PersonalFilmshasPrev}}
                        <a href="/Profile?page={{PersonalFilmsprevPage}}">Prev Films</a>
                    {{/PersonalFilmshasPrev}}
                    <br>
                    {{#PersonalFilmshasNext}}
                        <a href="/Profile?page={{PersonalFilmsnextPage}}">Next Films</a>
                    {{/PersonalFilmshasNext}}
                </div> 
            </div>
        </article>
        <!-- FAVOURITE BOOKS -->
        <article id="topSection">
            <div id="topTitleUser">
                <h4> Mis libros favoritos:</h4>
            </div>
            <div id="topList" class="container">
                <div class="row">
                    {{#PersonalBFavs}}
                        {{> W-Card}}
                    {{/PersonalBFavs}}
                    <br>
                    {{#PersonalBFavshasPrev}}
                        <a href="/Profile?page={{PersonalBFavsprevPage}}">Prev Books</a>
                    {{/PersonalBFavshasPrev}}
                    <br>
                    {{#PersonalBFavshasNext}}
                        <a href="/Profile?page={{PersonalBFavsnextPage}}">Next Books</a>
                    {{/PersonalBFavshasNext}}
                </div> 
            </div>
        </article>
        <!-- FAVOURITE SERIES -->
        <article id="topSection">
            <div id="topTitleUser">
                <h4> Mis series favoritos:</h4>
            </div>
            <div id="topList" class="container">
                <div class="row">
                    {{#PersonalSFavs}}
                        {{> W-Card}}
                    {{/PersonalSFavs}}
                    <br>
                    {{#PersonalSFavshasPrev}}
                        <a href="/Profile?page={{PersonalSFavsprevPage}}">Prev Series</a>
                    {{/PersonalSFavshasPrev}}
                    <br>
                    {{#PersonalSFavshasNext}}
                        <a href="/Profile?page={{PersonalSFavsnextPage}}">Next Series</a>
                    {{/PersonalSFavshasNext}}
                </div> 
            </div>
        </article>
        <!-- FAVOURITE FILMS -->
        <article id="topSection">
            <div id="topTitleUser">
                <h4> Mis peliculas favoritos:</h4>
            </div>
            <div id="topList" class="container">
                <div class="row">
                    {{#PersonalFFavs}}
                        {{> W-Card}}
                    {{/PersonalFFavs}}
                    <br>
                    {{#PersonalFFavshasPrev}}
                        <a href="/Profile?page={{PersonalFFavsprevPage}}">Prev Films</a>
                    {{/PersonalFFavshasPrev}}
                    <br>
                    {{#PersonalFFavshasNext}}
                        <a href="/Profile?page={{PersonalFFavsnextPage}}">Next Films</a>
                    {{/PersonalFFavshasNext}}
                </div> 
            </div>
        </article>

    <!--SECCION ESTADISTICAS-->
    <section id="stadisticSection">
        <div id="stadisticTitle">
            <h4> Mis Estadísticas </h4>
        </div>
        <div id="stadisticList" class="container">
            <div class="row">
                <!--div class="col-sm-2"-->
                    <canvas id="myChart" style="width:100%;max-width:400px"></canvas>
                    <script>
                        const xValues = ["LIBROS", "PELICULAS", "SERIES"];
                        const yValues = ["{{numBooks}}", "{{numFilms}}", "{{numSeries}}"];
                        const barColors = ["red","blue","#5cd65c"];
                        new Chart("myChart", {
                          type: "pie",
                          data: {
                            labels: xValues,
                            datasets: [{
                              backgroundColor: barColors,
                              data: yValues
                            }]},
                          options: {
                            title: {
                              display: false,
                              text: "Medios Guardados"
                            }}
                        });
                    </script>

                    <canvas id="myChart2" style="width:100%;max-width:500px"></canvas>
                    <script>
                        const zValues = ["ACCION", "TERROR", "AVENTURA", "MISTERIO", "ROMANCE", "CIENCIAFICCION", "DRAMA", "INFANTIL", "COMEDIA", "FANTASIA", "SOBRENATURAL","NOVELA","JUVENIL"];
                        const wValues = ["{{numAccion}}","{{numTerror}}", "{{numAventura}}", "{{numMisterio}}", "{{numRomance}}",
                    "{{numCiencia}}", "{{numDrama}}", "{{numInfantil}}","{{numComedia}}",
                    "{{numFantasia}}", "{{numSobrenatural}}", "{{numNovela}}", "{{numJuvenil}}"];
                        const barColors2 = ["red","black","#5cd65c", "orange", "yellow", "#00ffcc", "purple", "#99ccff","#0000b3", "#ffb3cc", "#ffbf80", "#cc0066", "brown"];
                        new Chart("myChart2", {
                        type: "pie",
                        data: {
                            labels: zValues,
                            datasets: [{
                            backgroundColor: barColors2,
                            data: wValues
                            }]},
                        options: {
                            title: {
                            display: false,
                            text: "Generos Guardados"
                            }}
                        });
                    </script>

                    
                    <!--<img src="Images/Img-Stadistics.png" class="img"> -->
                    
                <!--/div-->
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>