<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!--Título-->
  <title>Pantalla Individual</title>
  <!--Icono-->
  <link rel="icon" type="image/x-icon" href="imagenes/#">
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

  <!--CSS-->
  <link rel="stylesheet" href="../CSS/S-Main.css">
  <link rel="stylesheet" href="../CSS/S-SingleElement.css">
</head>

<body>
  <!-- NAVBAR -->
  {{> W-Header}}

  <!--MAIN-->
  <main>
    <!--MAIN INFO-->
    <div id="elementContent" class="container">
      <div id="mainContent" class="row">
        <div id="mainImg" class="col-md-2">
          <img src="data:image/jpg;base64, {{serie.base64Image}}" class="img-fluid" alt="...">
        </div>
        <div id="mainInfo" class="col-md-8 col-sm-12">
          <h2 id="mainTitle">{{serie.name}}</h2>
          <p id="mainDescription">{{serie.description}}</p>
        </div>
        <div class="col-md-2">
          <p id="mainRating">Valoración media: {{averageRating}}</p>
        </div>
      </div>
      {{#user}}
      <div id="listGroup" class="row">
        <div class="d-flex align-items-center">
          <input type="checkbox" id="favorite-checkbox" class="favorite-checkbox">
          <label for="favorite-checkbox" class="favorite-container">
            <div class="favourite">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" role="img"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-heart fa-w-1">
                <path fill="currentColor"
                  d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                </path>
              </svg>
            </div>
          </label>
          
          <select class="form-select" aria-label="Añadir a lista:">
            <option selected>Añadir a lista:</option>
            <option value="1">Lista 1</option>
            <option value="2">Lista 2</option>
            <option value="3">Lista 3</option>
          </select>
          
        </div>
      </div>
      {{/user}}
    </div>

    <!--REVIEW AND INFO-->
    <div id="infoReviewContent" class="container">
      <div id="secondContent" class="row">
        <div id="secondInfo" class="col-md-5">
          <h5 class="campo">Información:</h5>
          <h6 id="infoElement"><b>Autor:</b> {{serie.author}}</h6>
          <h6 id="infoElement"><b>Tipo:</b> {{serie.type}}</h6>
          <h6 id="infoElement"><b>Temporada de Estreno:</b> {{serie.season}}</h6>
          <h6 id="infoElement"><b>Estado:</b> {{serie.state}}</h6>
          <h6 id="infoElement"><b>País de Orígen:</b> {{serie.country}}</h6>
          <h6 id="infoElement"><b>Generos:</b> {{#serie.genres}}{{.}}; {{/serie.genres}}</h6>
        </div>

        <div id="mainReviews" class="col-md-6">
          <h5 class="campo">Reseñas:</h5>
          <div id="addReview">
            {{#user}}
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalAddReview">Añadir
              Reseña</button>
            {{/user}}
          </div>

          {{#reviewsConUsuarios}}
          {{#entrySet}}
          <div id="review">
            <div class="perfil align-self-start">
              <img src="../Images/Img-UserProfile2.png" alt="Imagen de perfil">
            </div>
            <div class="información">
              <h6 class="mb-0">{{value}}</h6> <!-- El nombre de usuario -->
              <div class="puntuación">
                Valoración: {{key.rating}} <!-- La revisión y su rating -->
              </div>
              <p class="mt-0">{{key.body}}</p> <!-- El cuerpo de la revisión -->
            </div>
          </div>
          {{/entrySet}}
          {{/reviewsConUsuarios}}

        </div>
      </div>
    </div>

    <!-- Modal para añadir una reseña -->
    <div class="modal fade" id="modalAddReview" tabindex="-1" aria-labelledby="modalAddReviewLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAddReviewLabel">Añadir Reseña</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Contenido del formulario para añadir la reseña -->
            <form id="addReviewForm" action="/review/add?elementId={{serie.id}}" method="post">
              <div class="mb-3">
                <label for="userRating" class="form-label">Puntuación</label>
                <select class="form-select" id="userRating" name="userRating">
                  <option selected>Seleccionar puntuación</option>
                  <option value="1">1 estrella</option>
                  <option value="2">2 estrellas</option>
                  <option value="3">3 estrellas</option>
                  <option value="4">4 estrellas</option>
                  <option value="5">5 estrellas</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="userReview" class="form-label">Reseña</label>
                <textarea class="form-control" id="userReview" name="userReview" rows="3"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnSave" type="submit" class="btn">Guardar</button>
              </div>
              <input type="hidden" name="_csrf" value="{{token}}" />
            </form>
          </div>

        </div>
      </div>
    </div>
  </main>

  <!--Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
</body>

</html>