<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
        <link rel="stylesheet" href="/CSS/S-Main.css">
        <link rel="stylesheet" href="/CSS/S-NavBar.css">
        <link rel="stylesheet" href="/CSS/S-Card.css">

        <title>Pagina Principal C&Read</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <!-- LOGO -->
          <a class="navbar-brand text-white align-text-center text-uppercase" href="/">
            <img src="/Images/Logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-center rounded-circle">
            <strong>C&Read</strong></a>
            <!-- TOGGLE BUTTON-->
          <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" 
          aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- SIDEBAR -->
          <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <!-- SIDEBAR HEADER-->
            <div class="offcanvas-header text-white border-bottom">
              <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!-- SIDEBAR BODY-->
            <div class="offcanvas-body d-flex flex-column flex-lg-row p-2">
                <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
                    <li class="nav-item mx-2">
                        <a class="nav-link text-uppercase" href="/Library/Series">Series</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-uppercase" href="/Library/Films">Películas</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-uppercase" href="/Library/Books">Libros</a>
                    </li>
                </ul>
            
            <!-- SIDEBAR PROFILE OR LOGIN/SINGOUT-->
                <div class="d-flex justify-content-center align-item-center gap-3">
                    {{#user}}
                    <a class="navbar-brand text-white align-text-center text-uppercase" href="/{{user.name}}/Profile">
                        <img src="data:image/jpg;base64, {{user.base64ProfileImage}}" alt="Logo" width="50" height="50" class="align-text-center rounded-circle">
                    <strong>{{user.name}}</strong></a>
                    <form id = "logoutbutton" class = "btn" action="/logout" method="post">
                        <input id = "logoutbuttonText" type="submit" value="Sign Out" />
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>
                    {{/user}}
                    {{^user}}
                    <div class="navbar-brand text-white align-text-center">
                        <a id="buttonLogIn" class="Pepito btn btn-transparent" href="/LogIn">Iniciar sesión</a>
                        <span class="text-white">/</span>
                        <a id="botonRegistroNavBar" class="btn" href="/SignIn">Registrarse</a>
                    </div>
                    {{/user}}
                </div>
                <div class="d-flex justify-content-center align-item-center gap-3">
                    {{#admin}}
                    <a id="botonRegistroNavBar" class="btn" href="/Admin">Admin</a>
                    {{/admin}}
                </div>
            </div>
          </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>